Repository cobbler/cobbler-tftp, pull requests merged in 2024-01, with the labels that each got.

#16 Update build configuration
  .readthedocs.yml
  pyproject.toml
  setup.cfg
Labels: no changelog

#18 Add rudimentary CLI implementation
  changelog.d/13.added
  pyproject.toml
  setup.cfg
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/settings/__init__.py
Labels: python

#19 Fix type errors to keep pyright checks green
  setup.cfg
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/settings/__init__.py
  tests/unittests/application_settings/test_settings.py
Labels: no changelog, python

#20 Implement daemon with logging and TFTP server
  .prospector.yml
  changelog.d/21.added
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/server/__init__.py
  src/cobbler_tftp/server/tftp.py
  src/cobbler_tftp/settings/__init__.py
  src/cobbler_tftp/settings/data/logging.conf
  src/cobbler_tftp/settings/data/settings.yml
  src/cobbler_tftp/settings/migrations/__init__.py
  src/cobbler_tftp/settings/migrations/v1_0.py
  src/cobbler_tftp/types/__init__.py
  tests/test_data/valid_config.yml
  tests/unittests/application_settings/conftest.py
  tests/unittests/application_settings/test_settings.py
Labels: python

#23 Fix customization of settings via CLI and environment variables
  changelog.d/22.fixed
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/settings/__init__.py
  tests/unittests/application_settings/test_settings.py
Labels: python

#24 Implement fetching files from XMLRPC or static directory
  .gitignore
  changelog.d/6.added
  cobbler-tftp.spec
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/server/__init__.py
  src/cobbler_tftp/server/tftp.py
  src/cobbler_tftp/settings/__init__.py
  src/cobbler_tftp/settings/data/settings.yml
  src/cobbler_tftp/settings/migrations/v1_0.py
Labels: python

#27 Add setup command and systemd service
  changelog.d/25.fixed
  cobbler-tftp.spec
  src/cobbler_tftp/cli.py
  src/cobbler_tftp/settings/data/cobbler-tftp.service
  src/cobbler_tftp/utils.py
Labels: python
